<% content_for(:header) do %>
  Order
<% end %>

<% content_for(:actions) do %>
  <%= secondary_action_button do %>
    <%= link_to 'Back', orders_path %>
  <% end %>

  <%= button_to("Submit", submit_order_path(@view_model.order_id), class: "mr-3 ml-3 inline-flex items-center px-4 py-2 border rounded-md shadow-sm text-sm font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 border-transparent text-white bg-blue-600 hover:bg-blue-700") %>
<% end %>

<table class="w-full">
  <thead>
    <tr class="border-b">
      <th class="text-left py-2">Product</th>
      <th class="text-left py-2">Quantity</th>
      <th class="text-left py-2">Price</th>
      <th class="text-left py-2" colspan="3">Value</th>
    </tr>
  </thead>

  <tbody>
  <% @view_model.lines.each do |line| %>
    <tr class="border-b">
      <td class="py-2"><%= line.product_name %></td>
      <td class="py-2"><%= line.quantity %></td>
      <td class="py-2"><%= number_to_currency(line.unit_price) %></td>
      <td class="py-2"><%= number_to_currency(line.total_price) %></td>
      <td class="py-2"><%= button_to "Add", add_item_order_path(id: @view_model.order_id, product_id: line.product_id), class: "hover:underline text-blue-500" %></td>
      <% if line.display_remove_button %>
        <td class="py-2 text-right"><%=  button_to("Remove", remove_item_order_path(id: @view_model.order_id, product_id: line.product_id), class: "hover:underline text-blue-500") %></td>
      <%  else %>
        <td class="py-2 text-right"></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
  <tfoot class="border-t-4">
    <tr class="border-t">
      <td class="py-2" colspan="3">Total</td>
      <td class="py-2"><%= number_to_currency(@view_model.total_price) %></td>
    </tr>
    <tr class="border-t">
      <td class="py-2" colspan="3">Discount</td>
      <td class="py-2">-<%= number_to_currency(@view_model.discount) %></td>
    </tr>
    <tr class="border-t">
      <td class="py-2" colspan="3">Final</td>
      <td class="py-2 font-bold"><%= number_to_currency(@view_model.final_price) %></td>
    </tr>
  </tfoot>
</table>

<%= form_tag({controller: "orders", action: "apply_coupon"}, method: "post", id: "apply-coupon-form") do %>
  <label for="coupon-code" class="block font-bold">
    Code
  </label>
  <%= text_field_tag :coupon_code, "", required: true, class: "mt-1 focus:ring-blue-500 focus:border-blue-500 block shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  <%= form_action_button do %>
    Apply coupon
  <% end %>
<% end %>
