<% content_for(:header) do %>
  Product
<% end %>

<% content_for(:actions) do %>
  <%= secondary_action_button do %>
    <%= link_to 'Back', products_path %>
  <% end %>
<% end %>

<dl class="mb-8">
  <dt class="font-bold">Name</dt>
  <dd class="mb-2"><%= @product.name %></dd>
  <dt class="font-bold">Price</dt>
  <dd class="mb-2"><%= number_to_currency @product.price %></dd>
  <dt class="font-bold">Stock Level</dt>
  <dd class="mb-2 mt-2"><%= @product.stock_level %></dd>
</dl>

<%= form_tag({controller: "products", action: "rename"}, method: "post", id: "rename-form") do %>  
  <label for="name" class="block font-bold">
    Rename product
  </label>
  <%= text_field_tag :name, @product.name, required: true, class: "mt-1 focus:ring-blue-500 focus:border-blue-500 block shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  <%= form_action_button do %>
    SUBMIT
  <% end %>
<% end %>

<%= form_tag({controller: "products", action: "set_price"}, method: "post", id: "set-price-form") do %>  
  <label for="name" class="block font-bold">
    Set new price
  </label>
  <%= number_field_tag :price, @product.price, min: 0, step: 0.01, required: true, class: "mt-1 focus:ring-blue-500 focus:border-blue-500 block shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  <%= form_action_button do %>
    SUBMIT
  <% end %>
<% end %>

<%= form_tag({controller: "products", action: "adjust_stock_level"}, method: "post", id: "adjust-stock-level-form") do %>
  <%= hidden_field_tag(:product_id, @product_id) %>

  <label for="quantity" class="block font-bold">
    Adjust stock level
  </label>
  <%= number_field_tag :quantity, nil, min: 1, step: 1, id: "quantity", class: "mt-1 focus:ring-blue-500 focus:border-blue-500 block shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  <%= form_action_button do %>
    SUBMIT
  <% end %>
<% end %>
